[Unit]
Description=Ocelot App Store

[Service]
User=user
WorkingDirectory=/home/user/store
ExecStart=/home/user/store/store
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target